@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

a{
    text-decoration: none;
}

.insta-icon{
    padding: 0 0 20px;
}

.logo{
    width: 100%;
    padding-left: 10px;
}

.navbar{
    padding: 10px 10px 0 15px;
    width: 250px;
    height: 100vh;
    display: flex;
    border-right: 1px solid #222222;
    position: fixed;
}

/* --------------- select --------------- */

.btn-select,
.menu{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 0 10px 10px;
    display: flex;

}

.selector{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.text-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 18px;
}

.selector a:hover, .menu:hover{
    background-color: #222222;
    border-radius: 8px;
    font-size: 1.55rem;
    transition: .2s ease-in-out;
}

.img-select{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.selector svg, .menu svg{
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: .1s ease;
}

.btn-select:hover svg{
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

/* --------------- select --------------- */

/* --------------- menu modal --------------- */

.modal{
    position: fixed;
    display: flex;
    top: 27%;
    left: 15px;
    width: 250px;
    height: auto;
    padding: 8px;
    background-color: #252424;
    border-radius: 15px;
}

.menu{
    cursor: pointer;
    color: #fff;
}

.btn-menu{
    padding: 13px;
    width: 230px;
}

.btn-menu svg{
    width: 20px;
    height: 20px;
    fill: #b3b3b3;
}

.btn-menu:hover{
    background-color: #4b4b4b;
    border-radius: 8px;
    transition: .1s ease;
}

.menu-modal a{
    display: flex;
    text-align: center;
}

.menu-modal a span{
    border-radius: 6px;
    color: #b3b3b3;
    font-size: 14px;
    padding: 1px;
    width: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* --------------- menu modal --------------- */


.public{
    height: 1000px;
}