@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

a{
    text-decoration: none;
}

.insta-icon{
    padding: 0 0 20px;
}

.navbar h1{
    font-family: 'Parisienne', sans-serif;
    color: #fff;
    font-size: 25px;
}

.navbar{
    padding: 30px 10px 0 15px;
    width: 250px;
    border-right: 1px solid #222222;
    position: fixed;
}

.navbar a{
    color: #fff;
    font-size: 1.5rem;
    display: block;
    margin: 0 0 10px;
    padding: 10px 0 10px 10px;
}

a span{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 16px;
}

.navbar a:hover{
    background-color: #222222;
    border-radius: 8px;
    transition: .1s ease;
    font-size: 1.55rem;

}

.selector img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.selector{
    padding: 0 0 40px;
}

.modal{
    position: fixed;
    display: flex;
    width: 250px;
    margin: 230px 0 0 10px;
    padding: 8px;
    pointer-events: none;
    opacity: 0;
    background-color: #252424;
    border-radius: 15px;
}

.btn-menu{
    padding: 16px;
    width: 230px;
}

svg{
    width: 20px;
    height: 20px;
    fill: #b3b3b3;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.menu-modal a{
    display: flex;
    text-align: center;
}

.menu-modal a span{
    border-radius: 6px;
    color: #b3b3b3;
    font-size: 14px;
    padding: 1px;
    width: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.btn-menu:hover{
    background-color: #4b4b4b;
    border-radius: 8px;
    transition: .1s ease;
}

.public{
    height: 1000px;
}