@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    display: flex;
}

a{
    text-decoration: none;
}

.insta-icon{
    padding: 0 0 20px;
}

.logo{
    width: 100%;
    padding-left: 10px;
}

.navbar{
    padding: 10px 10px 0 15px;
    width: 300px;
    height: 100vh;
    display: flex;
    border-right: 1px solid #222222;
}

/* --------------- select --------------- */

.btn-select,
.menu{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 0 10px 10px;
    display: flex;

}

.selector{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.text-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 18px;
    pointer-events: none;
}

.selector a:hover, .menu:hover{
    background-color: #222222;
    border-radius: 8px;
    font-size: 1.55rem;
    transition: .2s ease-in-out;
}

.img-select{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.selector svg, .menu svg{
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: .1s ease;
    pointer-events: none;
}

.btn-select:hover svg{
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

/* --------------- select --------------- */

/* --------------- menu modal --------------- */

.modal{
    position: fixed;
    display: flex;
    top: 27%;
    left: 15px;
    width: 250px;
    height: auto;
    padding: 8px;
    background-color: #252424;
    border-radius: 15px;
}

.menu{
    cursor: pointer;
    color: #fff;
}

.btn-menu{
    padding: 13px;
    width: 230px;
}

.btn-menu svg{
    width: 20px;
    height: 20px;
    fill: #b3b3b3;
}

.btn-menu:hover{
    background-color: #4b4b4b;
    border-radius: 8px;
    transition: .1s ease;
}

.menu-modal a{
    display: flex;
    text-align: center;
}

.menu-modal a span{
    border-radius: 6px;
    color: #b3b3b3;
    font-size: 14px;
    padding: 1px;
    width: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* --------------- menu modal --------------- */

/* --------------- stories --------------- */

.wrapper{
    width: 100%;
    height: 1000px;
}

.main{
    width: 100%;
    padding-top: 22px;
    display: flex;
    flex-direction: row;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 10px;
    width: 630px;
}

.stories{
    padding: 8px 0;
    width: 630px;
    overflow: hidden;
}

.storybox{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70px;
}

.story{
    border: 0;
    background-color: transparent;
    margin: 0 5px;
}

.border-story{
    background: rgb(255, 201, 0);
    background: linear-gradient(36deg,  rgb(255,201,0) 13%, rgb(255,0,95) 73%,rgb(255,9,237) 100%);
    box-sizing: border-box;
    padding: 2px;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}

.border-story img{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    padding: 0;
    margin: 0;
    border: solid 2px #222222;
}

.profile-name{
    padding: 5px 0;
    font-size: 12px;
    color: #fff;
    align-items: center;
}

.stories>ul{
    list-style: none;
    display: flex;
    column-gap: 10px;
}

/* --------------- stories --------------- */

/* --------------- publicaciones --------------- */

.publications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 470px; 
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-post{
    padding: 0 5px 15px;
    display: flex;
    justify-content: space-between;
}

.publication-user{
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 5px;
}

.publication-user>img{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.dot-menu svg{
    width: 18px;
    height: 18px;
    color: #fff;
    cursor: pointer;
}

.username-post,
.publication-user>span,
.time{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.img-post{
    display: flex;
    align-items: center;
    width: 468px;
    height: 468px;
    border: solid 1px #292929;
    border-radius: 5px;
    overflow: hidden;
}

.bottom-post{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.top-description{
    display: flex;
    justify-content: space-between;
}

.publishing-interface{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-post{
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.like-count span{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.description{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.text-comment{
    display: flex;
    align-items: center;
}

.input-comment{
    background: transparent;
    color: #fff;
    border: transparent;
    width: 100%;
    height: 25px;
    outline: none;
}

.text-comment svg{
    color: #c1c1c1;
    width: 14px;
    height: 14px;
}

/* --------------- publicaciones --------------- */

/* --------------- recomendaciones --------------- */

.suggestions{
    width: 382px;
    border: 2px solid #fff;
    padding-left: 60px;
}

/* --------------- recomendaciones --------------- */
